@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import "reset.css";
@import "variable.css";


/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/header.css";
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "screens/profile.css";

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #2e363e;
  background-color: #54BBFE;
}

.relative {
  position: relative;
}

.alert-in-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border: 2px solid #ff6666;
  color: #ff6666;
  border-radius: 50%;
  margin-left: 5px;
}

.main-screen {
  padding: 0px var(--horizontal--space);
  margin-bottom: 100px;
}

.bg-img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}