  #no-mobile {
  position: fixed;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  font-size: 32px;
  }

  #no-mobile span {
    text-align: center;
    width: 300px;
  }
@media screen and (max-width: 650px) and (min-width: 400px) {
  #no-mobile {display: none;}
}